body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #1e90ff;
    color: white;
    padding: 40px 20px;
}

section {
    padding: 30px;
    margin: 20px;
    background: white;
    border-radius: 10px;
}

footer {
    background-color: #222;
    color: white;
    padding: 15px;
}
